[submodule "DSH"]
	path = DSH
	url = https://github.com/deepseek-ai/deepseek-harness
[submodule "ADE"]
	path = ADE
	url = https://github.com/marius-patrik/RSCode.git
	branch = main
[submodule "Kernel"]
	path = Kernel
	url = https://github.com/marius-patrik/omnis.git
	branch = main
[submodule "plugins/Memory"]
	path = plugins/Memory
	url = https://github.com/marius-patrik/Memory.git
	branch = main
[submodule "plugins/SkyAgent"]
	path = plugins/SkyAgent
	url = https://github.com/marius-patrik/SkyAgent.git
	branch = main
[submodule "plugins/DarkFactory"]
	path = plugins/DarkFactory
	url = https://github.com/marius-patrik/DarkFactory.git
	branch = main
[submodule "migrate/Andromeda-OLD"]
	path = migrate/Andromeda-OLD
	url = https://github.com/marius-patrik/Andromeda-OLD.git
	branch = main
[submodule "migrate/ams-old"]
	path = migrate/ams-old
	url = https://github.com/marius-patrik/ams-old.git
	branch = main
[submodule "migrate/andromeda-old-2"]
	path = migrate/andromeda-old-2
	url = https://github.com/marius-patrik/andromeda-old-2.git
	branch = main
[submodule "migrate/genesis-old"]
	path = migrate/genesis-old
	url = https://github.com/marius-patrik/genesis-old.git
	branch = main
[submodule "migrate/paes-old"]
	path = migrate/paes-old
	url = https://github.com/marius-patrik/paes-old.git
	branch = main
