[submodule "DSH"]
	path = DSH
	url = https://github.com/deepseek-ai/deepseek-harness
[submodule "plugins/Memory"]
	path = plugins/Memory
	url = https://github.com/marius-patrik/Memory.git
	branch = main
[submodule "_migrate/SkyAgent"]
	path = _migrate/SkyAgent
	url = https://github.com/marius-patrik/SkyAgent.git
	branch = main
[submodule "_migrate/DarkFactory"]
	path = _migrate/DarkFactory
	url = https://github.com/marius-patrik/DarkFactory.git
	branch = main
[submodule "_migrate/Andromeda-OLD"]
	path = _migrate/Andromeda-OLD
	url = https://github.com/marius-patrik/Andromeda-OLD.git
	branch = main
[submodule "_migrate/ams-old"]
	path = _migrate/ams-old
	url = https://github.com/marius-patrik/ams-old.git
	branch = main
[submodule "_migrate/andromeda-old-2"]
	path = _migrate/andromeda-old-2
	url = https://github.com/marius-patrik/andromeda-old-2.git
	branch = main
[submodule "_migrate/genesis-old"]
	path = _migrate/genesis-old
	url = https://github.com/marius-patrik/genesis-old.git
	branch = main
[submodule "_migrate/paes-old"]
	path = _migrate/paes-old
	url = https://github.com/marius-patrik/paes-old.git
	branch = main
